.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.zbtn {
  user-select: none;
  @extend .center;
  &-primary {
    background: rgba(0, 130, 255, 1);
    box-shadow: 0 4px 9px 0 rgba(0, 130, 255, 0.4);
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    position: relative;
    &:hover {
      background-color: #006cd5;
    }
  }
}
